*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 70rem;
}

h1 {
  font-size: 60rem;
  margin-bottom: 30rem;
}

h2 {
  font-size: 30rem;
  font-weight: 300;
  margin-bottom: 80rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h3 {
  font-size: 45rem;
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50rem;
}

.right {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100rem;
}

button {
  margin-bottom: 40rem;
  background-color: rgb(0, 89, 255);
  color: white;
  border: none;
  font-size: 30rem;
  font-weight: bold;
  width: 220rem;
  padding-top: 13rem;
  padding-bottom: 13rem;
  border-radius: 20rem;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.2);
  background-color: blue;
}

.middle {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 385px;
  height: 340px;
  margin: 0 auto;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: outline 0.2s ease;
  border-radius: 10rem;
}
